<% content_for :subtitle do %><%= t 'page.contact_us' %><% end %>

<% content_for :help_sidebar do %>
<% end %>

<h1>Where we are</h1>
<p>
We are located in 
<%= link_to 'Ottawa', 'http://www.ottawatourism.ca/' -%>
, the heart and capital city of 
<%= link_to 'Canada', 'http://www.canada.travel/selectCountry.html' -%>.
</p>

<center>
  <!-- Google Maps Generated -->
    <iframe width="320" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?g=ottawa,+canada&amp;ie=UTF8&amp;ll=45.433154,-75.72876&amp;spn=0.462573,0.878906&amp;z=9&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?g=ottawa,+canada&amp;ie=UTF8&amp;ll=45.433154,-75.72876&amp;spn=0.462573,0.878906&amp;z=9&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  <!-- End Google Maps Generated -->
</center>

<h1>Talk to us</h1>
<p>
email: <b>contactus</b> at <b>expensepad</b> dot <b>com</b>
</p>
<p>
We'd love to hear from you: suggestions, praises, ideas, experiences, problems, etc.
</p>
