.bill_item_th_text {
  text-align: center;
  vertical-align: bottom;
}

.bill_item_th_toolbar {
  text-align: right;
  vertical-align: top;
}

.who_owes_who_cell {
  text-align: right;
}

.bill_payment_value_cell {
  text-align: right;
}

#language {
  padding: 1px 10px 10px 10px;
  position: relative;
  text-align: center;
}

#donate {
  padding: 1px 10px 10px 10px;
  position: relative;
  text-align: center;
}

#disclaimer_link {
  padding: 1px 10px 10px 10px;
  font-size: 6pt;
  text-align: center;
}

#disclaimer_link a:link, #disclaimer_link a:visited {
  color: #7c6a4f;
}

#disclaimer_link a:hover, #disclaimer_link a:active {
  color: #927f61;
}

.empty_table {
  text-align: center;
  font-style: italic;
  background-color: #ffffd0;
  color: #7f7f7f;
}