<% content_for :subtitle do %><%= t 'page.contact_us' %><% end %>

<% content_for :help_sidebar do %>
<% end %>

<h1>Onde estamos</h1>
<p>
Nos localizamos em
<%= link_to 'Ottawa', 'http://www.ottawatourism.ca/' -%>
, o coração e capital do 
<%= link_to 'Canadá', 'http://www.canada.travel/selectCountry.html' -%>.
</p>

<center>
  <!-- Google Maps Generated -->
    <iframe width="320" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?g=ottawa,+canada&amp;ie=UTF8&amp;ll=45.433154,-75.72876&amp;spn=0.462573,0.878906&amp;z=9&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?g=ottawa,+canada&amp;ie=UTF8&amp;ll=45.433154,-75.72876&amp;spn=0.462573,0.878906&amp;z=9&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  <!-- End Google Maps Generated -->
</center>

<h1>Fale conosco</h1>
<p>
email: <b>contactus</b> arroba <b>expensepad</b> ponto <b>com</b>
</p>
<p>
Adorariamos receber suas sugestões, elogios, idéias, opniões, problemas, etc.
</p>
